@font-face {
    font-family: "Neue Metana";
    src: url(../Fonts/NeueMetana-Bold.otf);
}


h1 {
    font-family: "Neue Metana";
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px; 
 }
 
 
h2 {
    text-align: center;
    font-family: "Neue Mentana";
    font-size: 2rem;
    font-weight: 900;
    padding: 4% 0;
}

 h3 {
    font-family: "Neue Metana";
    font-style: normal;
    font-size: 20px;
    font-weight: 700px;
    margin-top: 50px;
 }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
}



/* navbar section */

.navbar {
    padding: 2% 2%;
}

.logo {
    margin-left: 1%;
}

.navbar-brand {
    font-family: "Poppins";
    font-size: 1.7rem;
    font-weight: bold;
}


.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28246, 0, 178, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    background-color: white;
}

.navbar-toggler:hover {
    color: #da32ab;
}

.nav-item {
    padding: 0 0 0;
}

.nav-item:hover {
    color: #f600b2;
}

.nav-link {
    padding: 0 0 1%;
    margin-left: 20px;
    margin-right: 100px;
}

.nav-link:hover{
    color: #f600b2;
}


.Eli {
    padding-left: 10px;
}



/* title section */

.our {
    margin-top: 20px;
}

.top-container {
    text-align: center;
    
}


.logo1 {
    padding-top: 5px;
    padding-right: 5px; 
    align-items: center;
    text-align: center;
    border-radius: 10px;
    height: 250px;
}

.middle-container {
    text-align: center;
}

.logo2 {
    padding-top: 5px;
    padding-right: 5px; 
    align-items: center;
    text-align: center;
    border-radius: 10px;
    height: 250px;
}


/* contact us */


#contact {
    padding-bottom: 20px;
    text-align: center;
}

.Message {
    font-family: "Neue Metana";
    color: black;
    font-weight: 900;
}

.text-area {
    padding-left: 50px;
}

.pic{
    width: 22%;
    float: left;
    margin-right: 50px;
    margin-top: 70px;
    margin-left: 200px;
}

.btn {
    background-color: #f600b2;
    color: white;
    border-radius: 5px;
    margin-top: 18px;
    padding: 10px; 
    border: none;
    cursor: pointer; 
   
}

.btn:hover {
    color: #da32ab;
}
    




/* footer */

.bottom-container {
    width: 100vw;
    height: 80vh;
    background: url('../images/Rectangle\ 11.png');
    margin-top: 5%;
    justify-content: center;
    text-align: center;
}

.overlay {
    width: 100vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    color: white;
    align-items: center;
}

.lo {
    padding: 10% 2% 0;
}

p {
    margin-top: 70px;
    font-family: "Poppins";
}


/* Mobile styles goes here */


@media (max-width:1028px){

    /* navbar section */

    .navbar {
        margin-top: 10px;
    }

    .navbar-toggler {
        float: right;
    }

    .logo {
        width: 60%;
    }

    h1 {
        font-size: 1.5rem;
    }


    /* press section */

    #press {
        justify-content: center;
    }


     /* contact section */

     .pic {
        display: none;
       }

       #contact {
        align-items: center;
        text-align: center;
        justify-content: center;
       }

       h2 {
        padding-top: 10%;
       }

       
       /* footer section */

       h3 {
        font-size: 1rem;
       }

       .last {
        font-size: 0.9rem;
       }


}