@font-face {
    font-family: "Neue Metana";
    src: url(../Fonts/NeueMetana-Bold.otf);
}

h1 {
    font-family: "Neue Metana";
    font-size: 2rem;
    line-height: 1.5;
}

h2 {
    
    font-family: "Poppins";
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    padding: 5% 0;
}
h3 {
    text-align: center;
    font-family: "Neue Mentana";
    font-size: 2rem;
    font-weight: 900;
    padding: 5% 0;
}

h4 {
    text-align: center;
    font-family: "Poppins";
    font-size: 2rem;
    font-weight: 400px;
}

/* Navigation bar */

.navbar {
    padding: 1% 0;
    background-color: white;
}

.logo {
    margin-left: 5%;
}

.navbar-brand {
    font-family: "poppins";
    font-size: 1rem;
    font-weight: bold;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28246, 0, 178, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    background-color: white;
}

.navbar-toggler:hover {
    color: #da32ab;
}

.nav-item:hover {
    color: #f600b2;
}

.nav-link {
    font-family: "Poppins";
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 100px;
}

.nav-link:hover {
    color: #f600b2;
}


/* Title */

#title {
    background-color: black;
    text-align: center;
    margin-top: 2px;
}


.title-row {
    background-color: black;
    text-align: left;
    color: #fff;
    padding: 10% 15% 5%;
    line-height: 1.5;
    font-family: "Neue Metana";
    font-size: 20px;
}

.title-image {
    width: 35%;
    position: absolute;
    margin-left: 430px;
    bottom: 130px;
    padding: 1% 4%;
}


 
/* Button section */

.btn {
    background-color: #f600b2;
    color: white;
}

.btn:hover {
    color: #da32ab;
}


/* press section */

#press {
    margin-top: 60px;
}

.top-container {
     text-align: center;
}

.logo1 {
    padding-top: 5px;
    padding-right: 5px;
    height: 300px;
    border-radius: 10px;
    height: 250px;
}

.middle-container {
    text-align: center;
}

.logo2 {
    padding-top: 5px;
    padding-right: 5px;
    height: 300px;
    border-radius: 10px;
    height: 250px;
}



/* contact us */

#contact {
    padding-bottom: 20px;
    text-align: center;
}

.Message {
    font-family: "Neue Metana";
    color: black;
    font-weight: 900;
}

.text-area {
    padding-left: 50px;
}

.pic{
    width: 22%;
    float: left;
    margin-right: 50px;
    margin-top: 70px;
    margin-left: 200px;
}





/* footer section */



.bottom-container {
    width: 100vw;
    height: 80vh;
    background: url('../images/Rectangle\ 11.png');
    margin-top: 5%;
    justify-content: center;
    text-align: center;
}

.overlay {
    width: 100vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    color: white;
    align-items: center;
}

.lo {
     margin: 12% 20% 5%;
     padding-left: 5%;
}

.last {
    margin-top: 1%;
}


 /* Mobile styles goes here */

 @media (max-width:1028px){


    /* title section */

    #title .container-fluid {
        text-align: left;  
    }

    .title-row {
       align-items: center;
       text-align: center;
       font-size: 20px;
       display: block;
       }
       
       .title-image {
        width: 75%;
        align-self: center;
        position: static;
        margin-left: 10px;
          
       }

       h1{
        font-size: 1rem;
       }

       /* contact section */

       .pic {
        display: none;
       }

       #contact {
        align-items: center;
        text-align: center;
        justify-content: center;
       }

       /* features section */



       h2 {
        font-size: 1.5rem;
       }


       /* footer section */

       h4 {
        font-size: 1rem;
        margin-top: 5%;
        text-align: center;
        align-items: center;
       }

       .last {
        font-size: 0.9rem;
        text-align: center;
        margin-top: 20%;
       }

       

       /* navbar section */

       .navbar {
        margin-top: 10px;
       }


       .navbar-toggler {
        float: right;

       }



       /* press section */

       #press {
        justify-content: center;

       }




    }